ConfigurationService/ConfigurationServiceV1/src/main/resources/META-INF/soa/services/wsdl/ConfigurationServiceV1/ConfigurationServiceV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
	Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.apache.org/licenses/LICENSE-2.0
	
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ConfigurationService"
	targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types">
			<xs:element name="getClientConfigRequest"
				type="tns:GetClientConfigRequest" />
			<xs:complexType name="GetClientConfigRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="clientName" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getClientConfigResponse"
				type="tns:GetClientConfigResponse" />
			<xs:complexType name="GetClientConfigResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="BS" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="BSName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="Sec" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getBSConfigRequest"
				type="tns:GetBSConfigRequest" />
			<xs:complexType name="GetBSConfigRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="BSName" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getBSConfigResponse"
				type="tns:GetBSConfigResponse" />
			<xs:complexType name="GetBSConfigResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBHostName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBPort" type="xs:int" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="OPS" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="OPSName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="Sec" type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getOPSConfigRequest"
				type="tns:GetOPSConfigRequest" />
			<xs:complexType name="GetOPSConfigRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="OPSName" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getOPSConfigResponse"
				type="tns:GetOPSConfigResponse" />
			<xs:complexType name="GetOPSConfigResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBHostName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBName" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="DBPort" type="xs:int" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setClientToBSRequest"
				type="tns:SetClientToBSRequest" />
			<xs:complexType name="SetClientToBSRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="Bs" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="Client" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setClientToBSResponse"
				type="tns:SetClientToBSResponse" />
			<xs:complexType name="SetClientToBSResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setBSToOPSRequest"
				type="tns:SetBSToOPSRequest" />
			<xs:complexType name="SetBSToOPSRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="Bs" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="Ops" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setBSToOPSResponse"
				type="tns:SetBSToOPSResponse" />
			<xs:complexType name="SetBSToOPSResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getBSLocationsRequest"
				type="tns:GetBSLocationsRequest" />
			<xs:complexType name="GetBSLocationsRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getBSLocationsResponse"
				type="tns:GetBSLocationsResponse" />
			<xs:complexType name="GetBSLocationsResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded"
								minOccurs="1" name="locations" type="tns:ServiceLocation" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setServiceLocationRequest"
				type="tns:SetServiceLocationRequest" />
			<xs:complexType name="SetServiceLocationRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="location" type="tns:ServiceLocation" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="setServiceLocationResponse"
				type="tns:SetServiceLocationResponse" />
			<xs:complexType name="SetServiceLocationResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getOPSLocations">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="in" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOPSLocationsResponse">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="locations" type="tns:ServiceLocation" maxOccurs="unbounded" minOccurs="1"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOPSLocationsRequest"
				type="tns:getOPSLocationsRequest">
			</xs:element>
			
            <xs:complexType name="getOPSLocationsRequest"></xs:complexType>
            <xs:element name="getESLocations">
            	<xs:complexType>
            		<xs:sequence>
            			<xs:element name="in" type="xs:string"></xs:element>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
            <xs:element name="getESLocationsResponse">
            	<xs:complexType>
            		<xs:sequence>

            			<xs:element name="locations" type="tns:ServiceLocation" maxOccurs="unbounded" minOccurs="1"></xs:element>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
            <xs:element name="getESLocationsRequest"
            	type="tns:getESLocationRequest">
            </xs:element>
            
            <xs:complexType name="getESLocationRequest"></xs:complexType>
            <xs:element name="getQSLocations"
            	type="tns:GetQSLocationsRequest">
            </xs:element>
            <xs:element name="getQSLocationsResponse">
            	<xs:complexType>
            		<xs:sequence>

            			<xs:element name="locations" type="tns:ServiceLocation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
		
		
            <xs:complexType name="GetQSLocationsRequest"></xs:complexType>
            <xs:element name="getQSLocationsRequest"
            	type="tns:GetQSLocationsRequest">
            </xs:element>
		<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType><xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for all
				service operations.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType abstract="true" name="BaseResponse"> 
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations.
				Contains error information associated with the request.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>

					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation></xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="CommonErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
	
		<xs:complexContent>
			<xs:extension base="tns:ErrorData">
				<xs:sequence>
					<xs:element name="errorName" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="cause" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="resolution" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="errorGroups" type="xs:string">
						<xs:annotation>
							<xs:documentation>Error group values are whitespace separated</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organization" type="xs:string"></xs:element>
		    			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any>
			    	</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="System"></xs:enumeration>
        <xs:enumeration value="Application"></xs:enumeration>
        <xs:enumeration value="Request"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
	
	  <xs:sequence>
        	<xs:element name="errorId" type="xs:long"></xs:element>
		  	<xs:element name="domain" type="xs:string"></xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string"></xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity"></xs:element>
	  		<xs:element name="category" type="tns:ErrorCategory"></xs:element>
	  		<xs:element name="message" type="xs:string"></xs:element>
	  		<xs:element minOccurs="0" name="exceptionId" type="xs:token"></xs:element>
	  		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"></xs:element>
		</xs:sequence>
	
	
	</xs:complexType><xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		
		<!-- 
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0"
				processContents="lax" />
		</xs:sequence>
		-->
		
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:CommonErrorData">
    		</xs:element>
    	</xs:sequence>
		
	</xs:complexType><xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:simpleContent>
		  <xs:extension base="xs:string">
		    <xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
		  </xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="Error"></xs:enumeration>
        <xs:enumeration value="Warning"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"></xs:element>
			<xs:element name="version" type="xs:string"></xs:element>
			<xs:element name="contentType" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:string"></xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any>
		</xs:sequence>
	</xs:complexType><xs:complexType name="ServiceLocation">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="ServiceURL" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="ServiceName" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="Sec" type="xs:boolean"></xs:element>
		</xs:sequence>
	</xs:complexType></xs:schema>
	</wsdl:types>
	<wsdl:message name="getClientConfigRequest">
		<wsdl:part element="tns:getClientConfigRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getClientConfigResponse">
		<wsdl:part element="tns:getClientConfigResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="getBSConfigRequest">
		<wsdl:part element="tns:getBSConfigRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getBSConfigResponse">
		<wsdl:part element="tns:getBSConfigResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="getOPSConfigRequest">
		<wsdl:part element="tns:getOPSConfigRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getOPSConfigResponse">
		<wsdl:part element="tns:getOPSConfigResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="setClientToBSRequest">
		<wsdl:part element="tns:setClientToBSRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="setClientToBSResponse">
		<wsdl:part element="tns:setClientToBSResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="setBSToOPSRequest">
		<wsdl:part element="tns:setBSToOPSRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="setBSToOPSResponse">
		<wsdl:part element="tns:setBSToOPSResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="getBSLocationsRequest">
		<wsdl:part element="tns:getBSLocationsRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getBSLocationsResponse">
		<wsdl:part element="tns:getBSLocationsResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="setServiceLocationRequest">
		<wsdl:part element="tns:setServiceLocationRequest"
			name="params" />
	</wsdl:message>
	<wsdl:message name="setServiceLocationResponse">
		<wsdl:part element="tns:setServiceLocationResponse"
			name="params" />
	</wsdl:message>
	<wsdl:message name="getOPSLocationsRequest">
		<wsdl:part name="parameters" element="tns:getOPSLocationsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOPSLocationsResponse">
		<wsdl:part name="parameters" element="tns:getOPSLocationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getESLocationsRequest">
		<wsdl:part name="parameters" element="tns:getESLocationsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getESLocationsResponse">
		<wsdl:part name="parameters" element="tns:getESLocationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getQSLocationsRequest">
		<wsdl:part name="parameters" element="tns:getQSLocationsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getQSLocationsResponse">
		<wsdl:part name="parameters" element="tns:getQSLocationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ConfigurationServicePort">
		<wsdl:operation name="getClientConfig">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getClientConfigRequest" />
			<wsdl:output message="tns:getClientConfigResponse" />
		</wsdl:operation>
		<wsdl:operation name="getBSConfig">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getBSConfigRequest" />
			<wsdl:output message="tns:getBSConfigResponse" />
		</wsdl:operation>
		<wsdl:operation name="getOPSConfig">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getOPSConfigRequest" />
			<wsdl:output message="tns:getOPSConfigResponse" />
		</wsdl:operation>
		<wsdl:operation name="setClientToBS">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:setClientToBSRequest" />
			<wsdl:output message="tns:setClientToBSResponse" />
		</wsdl:operation>
		<wsdl:operation name="setBSToOPS">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:setBSToOPSRequest" />
			<wsdl:output message="tns:setBSToOPSResponse" />
		</wsdl:operation>
		<wsdl:operation name="getBSLocations">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getBSLocationsRequest" />
			<wsdl:output message="tns:getBSLocationsResponse" />
		</wsdl:operation>
		<wsdl:operation name="setServiceLocation">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:setServiceLocationRequest" />
			<wsdl:output message="tns:setServiceLocationResponse" />
		</wsdl:operation>
		<wsdl:operation name="getOPSLocations">
			<wsdl:input message="tns:getOPSLocationsRequest"></wsdl:input>
			<wsdl:output message="tns:getOPSLocationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getESLocations">
			<wsdl:input message="tns:getESLocationsRequest"></wsdl:input>
			<wsdl:output message="tns:getESLocationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getQSLocations">
			<wsdl:input message="tns:getQSLocationsRequest"></wsdl:input>
			<wsdl:output message="tns:getQSLocationsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConfigurationServiceHttpBinding"
		type="tns:ConfigurationServicePort">

		<http:binding verb="POST" />
		<wsdl:operation name="getClientConfig">

			<http:operation location="/getClientConfig" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBSConfig">

			<http:operation location="/getBSConfig" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOPSConfig">

			<http:operation location="/getOPSConfig" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setClientToBS">

			<http:operation location="/setClientToBS" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setBSToOPS">

			<http:operation location="/setBSToOPS" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBSLocations">

			<http:operation location="/getBSLocations" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setServiceLocation">

			<http:operation location="/setServiceLocation" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOPSLocations">

			<http:operation location="/getOPSLocations" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getESLocations">
			<http:operation location="/getESLocations" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getQSLocations">
			<http:operation location="/getQSLocations"></http:operation>
			<wsdl:input>
				<mime:content
					type="application/x-www-form-urlencoded">
				</mime:content>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"></mime:content>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ConfigurationServiceSOAPBinding"
		type="tns:ConfigurationServicePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getClientConfig">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getClientConfig" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBSConfig">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getBSConfig" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOPSConfig">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getOPSConfig" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setClientToBS">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/setClientToBS" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setBSToOPS">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/setBSToOPS" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBSLocations">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getBSLocations" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setServiceLocation">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/setServiceLocation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOPSLocations">

			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getOPSLocations" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getESLocations">
			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getESLocations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getQSLocations">
			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getQSLocations">
			</soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConfigurationServiceV1">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:ConfigurationServiceHttpBinding"
			name="ConfigurationServiceHttp">
			<http:address
				location="http://www.ebayopensource.org/turmeric/ConfigurationService" />
		</wsdl:port>
		<wsdl:port binding="tns:ConfigurationServiceSOAPBinding"
			name="ConfigurationServiceSOAP">
			<soap:address
				location="http://www.ebayopensource.org/turmeric/ConfigurationService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

