OrderProcessorService/OrderProcessorServiceV1/gen-meta-src/META-INF/soa/services/wsdl/OrderProcessorServiceV1_mns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
	Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.apache.org/licenses/LICENSE-2.0
	
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services" xmlns:types="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types" xmlns:types1="http://www.ebayopensource.org/turmeric/common/v1/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="OrderProcessorService" targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">
<xs:import namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"/>
<xs:import namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
			
			
			
			
			
			
			
			
			
			
			
			<xs:element name="submitOrderRequest" type="tns:SubmitOrderRequest"/>
			<xs:complexType name="SubmitOrderRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="types1:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="data" type="types:OrderData"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="submitOrderResponse" type="tns:SubmitOrderResponse"/>
			<xs:complexType name="SubmitOrderResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="types1:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="isOnlineRequest" type="tns:IsOnlineRequest"/>
			<xs:complexType name="IsOnlineRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="types1:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="isOnlineResponse" type="tns:IsOnlineResponse"/>
			<xs:complexType name="IsOnlineResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="types1:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="output" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types">
<xs:complexType name="OrderData">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="accountID" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="holdingID" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="1" name="orderID" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="1" name="orderType" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="orderStatus" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="openDate" type="xs:dateTime"/>
					<xs:element maxOccurs="1" minOccurs="1" name="completionDate" type="xs:dateTime"/>
					<xs:element maxOccurs="1" minOccurs="1" name="quantity" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="1" name="price" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="1" name="orderFee" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="1" name="symbol" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/turmeric/common/v1/types">
<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="types1:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="types1:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="types1:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="types1:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
<xs:complexType name="CommonErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="types1:ErrorData">
						<xs:sequence>
							<xs:element name="errorName" type="xs:string"/>
							<xs:element minOccurs="0" name="cause" type="xs:string"/>
							<xs:element minOccurs="0" name="resolution" type="xs:string"/>
							<xs:element minOccurs="0" name="errorGroups" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Error group values are
										whitespace separated
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization" type="xs:string"/>
							<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="types1:ErrorSeverity"/>
					<xs:element name="category" type="types1:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="types1:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0"
					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="types1:CommonErrorData"/>
				</xs:sequence>
			</xs:complexType>
<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/turmeric/common/v1/types"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
					<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
				</xs:sequence>
			</xs:complexType>
</xs:schema>
</wsdl:types>
	<wsdl:message name="submitOrderRequest">
		<wsdl:part element="tns:submitOrderRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="submitOrderResponse">
		<wsdl:part element="tns:submitOrderResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="isOnlineRequest">
		<wsdl:part element="tns:isOnlineRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="isOnlineResponse">
		<wsdl:part element="tns:isOnlineResponse" name="params"/>
	</wsdl:message>
	<wsdl:portType name="OrderProcessorServicePort">
		<wsdl:operation name="submitOrder">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:submitOrderRequest"/>
			<wsdl:output message="tns:submitOrderResponse"/>
		</wsdl:operation>
		<wsdl:operation name="isOnline">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:isOnlineRequest"/>
			<wsdl:output message="tns:isOnlineResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrderProcessorServiceHttpBinding" type="tns:OrderProcessorServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="submitOrder">
			<http:operation location="/submitOrder"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isOnline">
			<http:operation location="/isOnline"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="OrderProcessorServiceSOAPBinding" type="tns:OrderProcessorServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="submitOrder">
			<soap:operation soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/submitOrder"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isOnline">
			<soap:operation soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/isOnline"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrderProcessorService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:OrderProcessorServiceHttpBinding" name="OrderProcessorServiceHttp">
			<http:address location="http://www.ebayopensource.org/turmeric/OrderProcessorService"/>
		</wsdl:port>
		<wsdl:port binding="tns:OrderProcessorServiceSOAPBinding" name="OrderProcessorServiceSOAP">
			<soap:address location="http://www.ebayopensource.org/turmeric/OrderProcessorService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
