QuoteService/QuoteServiceV1/meta-src/META-INF/soa/services/wsdl/QuoteServiceV1/QuoteServiceV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
	Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.apache.org/licenses/LICENSE-2.0
	
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="QuoteService"
	targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="extension" type="tns:ExtensionType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version"
						type="xs:string">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp"
						type="xs:dateTime">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="extension" type="tns:ExtensionType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CommonErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:ErrorData">
						<xs:sequence>
							<xs:element name="errorName"
								type="xs:string" />
							<xs:element minOccurs="0" name="cause"
								type="xs:string" />
							<xs:element minOccurs="0" name="resolution"
								type="xs:string" />
							<xs:element minOccurs="0" name="errorGroups"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Error group values are
										whitespace separated
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization"
								type="xs:string" />
							<xs:any maxOccurs="unbounded" minOccurs="0"
								processContents="lax" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System" />
					<xs:enumeration value="Application" />
					<xs:enumeration value="Request" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long" />
					<xs:element name="domain" type="xs:string" />
					<xs:element minOccurs="0" name="subdomain"
						type="xs:string" />
					<xs:element name="severity"
						type="tns:ErrorSeverity" />
					<xs:element name="category"
						type="tns:ErrorCategory" />
					<xs:element name="message" type="xs:string" />
					<xs:element minOccurs="0" name="exceptionId"
						type="xs:token" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="parameter" type="tns:ErrorParameter" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0"
					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="error" type="tns:CommonErrorData" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error" />
					<xs:enumeration value="Warning" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger" />
					<xs:element name="version" type="xs:string" />
					<xs:element name="contentType" type="xs:string" />
					<xs:element name="value" type="xs:string" />
					<xs:any maxOccurs="unbounded" minOccurs="0"
						processContents="lax" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getQuotesRequest"
				type="tns:GetQuotesRequest" />
			<xs:complexType name="GetQuotesRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded"
								minOccurs="1" name="symbols" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getQuotesResponse"
				type="tns:GetQuotesResponse" />
			<xs:complexType name="GetQuotesResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded"
								minOccurs="1" name="quoteData" type="tns:RemoteQuoteData" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		<xs:complexType name="RemoteQuoteData">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="TradeTypeLibrary" namespace="http://atlantis.st.ewi.tudelft.nl/tudelft/external/v1/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="ticker" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="timestamp" type="xs:dateTime">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="market" type="xs:string"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="change" type="xs:double"></xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="changePercent" type="xs:double"></xs:element>
		</xs:sequence>
	</xs:complexType></xs:schema>
	</wsdl:types>
	<wsdl:message name="getQuotesRequest">
		<wsdl:part element="tns:getQuotesRequest" name="params" />
	</wsdl:message>
	<wsdl:message name="getQuotesResponse">
		<wsdl:part element="tns:getQuotesResponse" name="params" />
	</wsdl:message>
	<wsdl:portType name="QuoteServicePort">
		<wsdl:operation name="getQuotes">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getQuotesRequest" />
			<wsdl:output message="tns:getQuotesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QuoteServiceHttpBinding"
		type="tns:QuoteServicePort">
		<http:binding verb="POST" />
		<wsdl:operation name="getQuotes">
			<http:operation location="/getQuotes" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QuoteServiceSOAPBinding"
		type="tns:QuoteServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getQuotes">
			<soap:operation
				soapAction="http://atlantis.st.ewi.tudelft.nl/tudelft/v1/services/getQuotes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QuoteService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:QuoteServiceHttpBinding"
			name="QuoteServiceHttp">
			<http:address
				location="http://www.ebayopensource.org/turmeric/QuoteService" />
		</wsdl:port>
		<wsdl:port binding="tns:QuoteServiceSOAPBinding"
			name="QuoteServiceSOAP">
			<soap:address
				location="http://www.ebayopensource.org/turmeric/QuoteService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

